{:deps {org.clojure/clojure {:mvn/version "1.9.0"}}
 :paths ["src"]
 :aliases {:fig {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.339"}
                              org.clojure/core.async {:mvn/version "0.4.474"}
                              org.clojure/test.check {:mvn/version "0.10.0-alpha3"}
                              cljs-http {:mvn/version "0.1.45"}
                              funcool/cuerdas {:mvn/version "2.0.6"}
                              binaryage/devtools {:mvn/version "0.9.10"}
                              com.bhauman/figwheel-main {:mvn/version "0.1.5"}
                              cljsjs/moment {:mvn/version "2.22.2-0"}
                              com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                              rum {:mvn/version "0.11.2"}
                              com.cognitect/transit-cljs {:mvn/version "0.8.256"}}
                 :extra-paths ["resources" "target"]
                 :main-opts ["-m" "figwheel.main"]}
           :dev {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :prod {:main-opts ["-m" "figwheel.main" "-bo" "prod"]}}}
